@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap')

:root
    font-family: system-ui
    color: #4d4d4d

h2
    color: #625141

@media (min-width: 1920px)
    .custom-height
        height: 350px

.v-btn
    background-color: transparent !important
    color: inherit !important
    box-shadow: none !important
    padding: 0 !important

.v-btn::before,
.v-ripple__animation
    display: none !important

.suse-mono-font
    font-family: "SUSE Mono", sans-serif
    font-optical-sizing: auto
    font-weight: 200
    font-style: normal
    font-size: 35px
